@charset "utf-8";
/* CSS Document */
/* These Styles only included in Restaurant page so adding as new File */


/* ====================== Restaurant Details ====================== */

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  /*position: absolute;*/
}
#restaurant-name {
  color: #c46a03;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 10px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-details {
	padding: 15px;
}
#restaurant-address {
  font-size: 18pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 11px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container,
#reviews-container,
#add-review-form {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0px 10px 10px;
  text-align: center;
}
/*#reviews-container {
  padding: 30px 40px 80px;
}*/
#reviews-container h2,
#add-review-form h2 {
  color: #c46a03;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
}
#reviews-list li p {
  margin: 0 0 10px;
	text-align: justify;
}
#restaurant-hours td {
  color: #666;
}
#hours-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#restaurant-hours {
  width: 100%;
  max-width: 1080px;
	margin-top: 25px;
}

/* -------------------------Style For Snack Bar ------------------------------*/
/*Reference: https://www.w3schools.com/howto/howto_js_snackbar.asp */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    width:100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
    animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

#snackBarSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* -----------------------Style For Add Review Form --------------------------*/
/*Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_form*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.formButton {
  background-color: #724702;
  border: 3px solid #eee;
  color: #fff;
  font-size: 12pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* -----------------------Style For Favourite Button -------------------------*/
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_outline_buttons*/

.btnFav {
  border: 2px solid black;
  background-color: #f3f3f3;
  color: black;
  padding: 14px 28px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 90%;
  border-radius: 5px;
}v

/* Green */
.successFav {
  border-color: #4CAF50;
  color: green;
}

.successFav:hover {
  background-color: #4CAF50;
  color: white;
}

#favorite-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedFavButton {
  background-color: #4CAF50;
  color: white;
}
